body{
background:#ff8c00; 
font-size:25px;
margin:15px;
padding:8px;
background-image:url("nature.jpg");

}
h1{
background:#ffff00;
text-align:center;
border: 15px solid black;
margin:25px;
padding:20px;
border-radius:60%;
transition:background .2s linear,border-radius 1s ease-in 1s;

}



a{
display:inline-block;
height:70px;
width:200px;
text-decoration: none;
border:5px solid black;
color:#000000;
background:#7cfc00;
text-align:center;
margin: auto;
margin-top:10px;
transition-property:color,background,width,border-radius;
	transition-duration:.5s;
	transition-timing-function:linear;
	transition-delay:.5s;
	
}


a:hover{
	color:#2db34a;
	width:350px;
	background:#ff0000;
	border-radius:50%;
	
	
	
}


a:focus{

background:#ffffff;
}



a:active{
background:#ff0000;  

}


h2{
background:#ff0000;
font-family:verdana,arial;
border:10px inset #191970;
}

p{
background:#7cfc00;
font-size:25px;
font-weight:bold;
border:20px groove violet;
padding:60px;
border-radius:10%;

}
img{
height:600px;
width:40%;
border:15px solid black;
}



section{
height:200px;
width:40%;
display:table;
transform:rotate(20deg);

}

p:first-child{
	background:#000080;
	color:#ffffff;
	height:200px;
	width:250px;
	display:table;
	border-radius:50%;
	transition-property:color,background,width,border-radius;
	transition-duration:.5s;
	transition-timing-function:linear;
	transition-delay:.5s;
	
}

